<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <!--configuración cross-browser-->
    <test name="Login Test - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.portfolio.tests.LoginTest"/>
        </classes>
    </test>
    <test name="Login Test - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="org.portfolio.tests.LoginTest"/>
        </classes>
    </test>
</suite>